body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
}

.navbar {
    background-color: teal;
    color: lightsalmon;
    padding-top: 1rem;
}

ul {
    background-color: teal;
    list-style: none;
    margin: 0;
}

li {
    color: lightsalmon;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

a {
    text-decoration: none;
}

.banner {
    height: 30rem;
    padding-top: 1rem;
}

.banner h1 {
    color: coral;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    padding: 2rem;
    margin-top: 10rem;
    text-align: center;
}

.purpose {
    color: white;
}

.title {
    color: yellow;
}

.photos {
    display: flex;
    height: 250px;
    width: auto;
    justify-content: center;
    padding-top: 40px;
    gap:50px;
}